<ion-header >
  <ion-toolbar >
    <ion-title>Add Properties</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-round-back"></ion-icon>  
    </ion-buttons >
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="new">
    <ion-item>
      <ion-label>Name :</ion-label>
      <ion-input> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Address :</ion-label>
      <ion-input></ion-input>
    </ion-item>


    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Type:</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Home</ion-label>
          <ion-radio slot="start" value="home" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Room</ion-label>
          <ion-radio slot="start" value="room"></ion-radio>
        </ion-item>
         
        <ion-item>
          <ion-label>Apartment</ion-label>
          <ion-radio slot="start" value="apartment"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    Details :
    <ion-item>
      <ion-label position="floating">No. of BedRooms</ion-label>
      <ion-input></ion-input>

    </ion-item>
    <ion-item>
    <ion-label position="floating">No.of Bathrooms</ion-label>
      <ion-input> </ion-input>

    </ion-item>
    <ion-item>
    <ion-label position="floating">Kitchen Type</ion-label>
      <ion-input></ion-input>
    </ion-item>
   
    
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Car Parking</ion-label>
        </ion-list-header>
        
      <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes"></ion-radio>
      </ion-item>
         
      <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
      </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Water Supply</ion-label>
        </ion-list-header>
        
      <ion-item>
          <ion-label>Yes</ion-label>
          <ion-radio slot="start" value="yes"></ion-radio>
      </ion-item>
         
      <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="no"></ion-radio>
      </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
  
</ion-content>