<!-- <ion-header >
  <ion-toolbar >
    <ion-title>Add Properties</ion-title>
    <ion-buttons slot="start">
      <ion-icon name="arrow-round-back"></ion-icon>  
    </ion-buttons >
    
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-header>

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/login']" >
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Sign In
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
    
  <div class="center">
    <ion-item>
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">City</ion-label>
      <ion-input ></ion-input>  
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Date of Birth</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY" value="1970-01-01T00:00:00.000"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">I am a:</ion-label>
      <ion-list>
      <ion-radio-group>    
        <ion-item>
          <ion-label>Landlord</ion-label>
          <ion-radio slot="start" value="landlord" checked></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Tenant</ion-label>
          <ion-radio slot="start" value="tenant"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    </ion-item>

    

      <ion-button expand="block">Sign In as a new user</ion-button>

  </div>
</ion-content>

